<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>create board</title>
</head>
<body>

    <h1>board create page</h1>
    <hr>

    <form action="/board/create" method="post" name="boardForm">
        <input type="text" name="title" placeholder="title"><br>
        <textarea name="content"></textarea>
        <input type="submit" value="submit"/>
    </form>

</body>
</html>